.statistics {
    margin: 5rem 0;
    padding: 2rem 10rem;

    .description {
        width: 50%;
        height: 50%;
        align-items: center;
        text-align: center;
        margin-left: 25%;
        padding-bottom: 5rem;

        h1 {
            font-size: 35px;
            font-weight: 700;
            color: hsl(257, 27%, 26%);
        }

        p {
            font-size: 18px;
            color: hsl(257, 7%, 63%);
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .card {
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            position: relative;

            .icon {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: hsl(257, 27%, 26%);
                position: absolute;
                bottom: 12rem;

                .recognition-img {
                    margin: 20px;
                }

                .records-img {
                    margin: 20px;
                }

                .customizable-img {
                    margin: 16px;
                }
            }

            h2 {
                font-weight: 700;
                color: hsl(255, 11%, 22%);
                font-size: 22px;
            }

            p {
                color: hsl(257, 7%, 63%);
                font-size: 14px;
            }

        }
               
        
    }
}