.shortener {
    margin-top: 8rem;
    padding: 2rem 10rem;

    .inputBox {
        height: 10rem;
        background-color: hsl(257, 27%, 26%);
        background-image: url('../../images/bg-shorten-desktop.svg');
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 30px;

        .left {
            width: 68%;
            margin: 2rem 0 2rem 4rem;
            
            input {
                color: hsl(260, 8%, 14%);
                text-align: left;
                border: none;
                border-radius: 10px;
                padding: 20px 0 20px 10px;
                font-size: 18px;
                width: 100%;
                
            }
            .errorclass {
                border: 3px solid red;
            }
        }

        .right {
            button {
                background: hsl(180, 66%, 49%);
                color: white;
                border: none;
                font-weight: bold;
                font-size: 20px;
                border-radius: 10px;
                padding: 20px 40px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin-left: 0.5rem;
                cursor: pointer;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .output {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .outputBox {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            height: 2.5rem;
            background-color: white;
            border-radius: 10px;
            padding: 20px;

            .originalLink {
                
                width: 65%;
                p {
                    margin-right: 22rem;
                    font-size: 18px;
                    color: hsl(257, 27%, 26%);
                }
            }

            .shortLink {
                display: flex;
                align-content: end;
                justify-content: flex-end;
                gap: 30px;
                align-items: center;
                p {
                    font-size: 18px;
                    color: hsl(180, 66%, 49%);
                }

                button {
                    border: none;
                    background: hsl(180, 66%, 49%);
                    color: white;
                    font-weight: bold;
                    font-size: 17px;
                    border-radius: 10px;
                    padding: 12px 30px;
                    
                    &:hover {
                        opacity: 0.6;
                    }
                }
                .copied-btn {
                    background-color: hsl(257, 27%, 26%);
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
            }

        }
    }
}