@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap';

.body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: linear-gradient(white 0%, white 20%, #eff1f7 25%);
}
